.arrow-down {
  background: url("../img/icon/arrow-down.svg");
  width: 23px;
  height: 28px;
}
.arrow-down-light {
  background: url("../img/icon/arrow-down-light.svg");
  width: 23px;
  height: 23px;
}
.chevron-right {
  background: url("../img/icon/chevron-right.svg");
  width: 22px;
  height: 37px;
}
.chevron-left {
  background: url("../img/icon/chevron-right.svg");
  width: 22px;
  height: 37px;
  transform: rotate(180deg);
}
.cursor {
  background: url("../img/icon/cursor.svg");
  width: 75px;
  height: 75px;
}
.cursor-blue {
  background: url("../img/icon/cursor-blue.svg");
  width: 75px;
  height: 75px;
}

.logo-blue {
  background: url("../img/icon/logo-blue.svg");
  width: 40px;
  height: 43px;
}
.plus {
  background: url("../img/icon/plus.svg");
  width: 14px;
  height: 15px;
}
.globus {
  background: url("../img/icon/globus.svg");
  width: 24px;
  height: 24px;
}