@import "fonts";
@import "base";
@import "icon";


//header
header {
  background: transparent;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding: 30px 0 10px;
  min-height: 85px;
}
.logo-light {
  display: none;
}
header.light {
  .header-logo img {
    display: none;
  }
  .header-logo img.logo-light {
    display: inline;
  }
}
.mobile-menu {
  display: flex;
  align-items: center;
}
.lang {
  margin-left: 50px;
}
.lang-toggle {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  span {
    color: #ffffff;
    font-size: 16.538px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.05px; /* 133.333% */
    text-transform: uppercase;
  }
  &.show {
    span {
      color: #62B6F3;
    }
    svg path {
      fill: #62B6F3;
    }
  }
  &:after {
    content: none;
  }
}
.lang-menu {
  background: var(--1a, #002B55);
  border: 1px solid #446E85;
  padding: 0;
  border-radius: 0;
  top: 55px !important;
  left: initial !important;
  right: 0 !important;
  transform: translate(0, 0) !important;
}
.lang-item {
  padding: 12px 16px;
  position: relative;
  color: #FFF;
  font-size: 16.538px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.05px; /* 133.333% */
  display: block;
  &.active {
    color: var(--1c, #62B6F3);
  }
  &:after {
    content: '';
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border: 1px solid var(--1c, #62B6F3);
    background: initial;
  }
  &.active:after {
    background: #62B6F3;
  }
}
.lang-item + .lang-item {
  border-top: 1px solid #446E85;
}
.header-nav {
  display: flex;
  gap: 70px;
  &-link {
    color: #FFF;
    font-size: 16.538px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.05px; /* 133.333% */
    text-transform: uppercase;
  }
}
.visible-sm {
  display: none;
}
//header end


//footer
footer {
  padding: 48px 0 20px;
}
.footer-social {
  padding: 36px 0;
  border-top: 1px solid #ddd;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  &-item {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px; /* 100% */
    width: fit-content;
  }
}
.footer-contact {
  padding: 36px 0;
  border-top: 1px solid #ddd;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  &-item {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px; /* 100% */
    width: fit-content;
  }
}
.footer-copyright {
  padding: 8px 0 25px;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-item {
    color: #FFF;
    font-size: 14.18px;
    font-weight: 400;
    line-height: 22.5px; /* 158.678% */
  }
}
footer.light-blue {
  background: #62B6F3;
  .footer-social, .footer-contact, .footer-copyright {
    border-color: #002B55;
  }
  .footer-social-item, .footer-contact-item, .footer-copyright-item {
    color: #002B55;
  }
}
//footer end


//main page
.poster {
  height: 100vh;
  min-height: 650px;
  max-height: 920px;
  margin-top: -85px;
  padding-top: 85px;
  display: flex;
  position: relative;
  .container {
    display: flex;
  }
}
.main-poster {
  background: url("../img/main/mountain.png") no-repeat center/cover;
  position: relative;
  padding-bottom: 54px;
}

.animation-bg {
  animation-delay: 1s;
  animation: shrinkBackground 1s forwards;
}
@keyframes shrinkBackground {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.main-poster-after {
  width: 535px;
  height: 589px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main-poster-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
.main-poster-title {
  position: absolute;
  left: 0;
  top: calc(50% - 212px);
  color: #EDEDED;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 69.12px; /* 108% */
  span {
    color: #62B6F3;
  }
}
.poster-bottom {
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.poster-left {
  width: 43%;
  display: flex;
  flex-direction: column;
}
.poster-cursor {
  width: 100%;
  p {
    margin-top: 48px;
    color: #EDEDED;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 41px; /* 113.889% */
  }
  b {
    font-weight: 400;
  }
}
.poster-right {
  width: calc(57% - 29px);
  margin-left: auto;
}
.scroll-bottom-btn {
  width: 100%;
  padding: 13px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    color: #EDEDED;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 41px; /* 170.833% */
  }
}


.confidence {
  background: #62B6F3;
}
.confidence-content {
  padding: 87px 0 207px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1034px;
  margin: 0 auto;
  h5 {
    margin-top: 77px;
    color: #002B55;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 49px; /* 122.5% */
  }
  b {
    font-weight: 700;
  }
  h5 + h5 {
    margin-top: 40px;
  }
}


.about-founder {
  margin-top: -1px;
  background: url("../img/main/about-founder.png") no-repeat center/cover;
}
.about-founder-content {
  padding: 94px 748px 46px 0;
  p {
    color: var(--openai-com-nero, #FFF);
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: 36px; /* 150% */
    letter-spacing: -0.609px;
  }
  p + p {
    margin-top: 40px;
  }
  b {
    display: block;
    margin-top: 48px;
    color: var(--openai-com-nero, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
  }
  span {
    display: block;
    margin-top: 2px;
    color: var(--openai-com-nero, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
  }
  .btn {
    margin-top: 269px;
  }
}


.companies {
  padding: 50px 0;
  position: relative;
}
.companies-slider-wrapper {
  display: flex;
  margin-top: 130px;
}
.company-slide-media {
  position: relative;
  height: 0;
  padding-top: 123%;
}
.company-slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.company-slide-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  z-index: 1;
}
.company-slide-caption {
  margin-top: 20px;
  b {
    display: block;
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 120% */
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  p {
    margin-top: 6px;
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.company-slider-next {
  width: 90px;
  flex-shrink: 0;
  height: 0;
  padding-top: 47%;
  background: var(--1c, #62B6F3);
  border: none;
  position: relative;
  i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.text-link {
  color: #FFF;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 120% */
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1.5px;
    background: #fff;
  }
  &:after {
    content: "";
    background: url("../img/icon/arrow-right.svg") no-repeat center/contain;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 21px;
    margin-left: 15px;
  }
}


.numbers-content {
  padding: 50px 0 55px;
}
.section-header {
  display: flex;
}
.section-logo {
  width: 550px;
}
.section-title {
  flex: 1;
  h3 {
    display: block;
    color: #62B6F3;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 150% */
    letter-spacing: -0.2px;
  }
  h2 {
    display: block;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 75px; /* 117.188% */
  }
  h2.blue {
    color: var(--1a, #002B55);
  }
}
.numbers-list {
  margin-top: 38px;
  background: url("../img/main/logo-lg.svg") no-repeat center/contain;
  position: relative;
  padding: 170px 0 50px;
  display: flex;
  flex-direction: column;
}
.number-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  b {
    display: block;
    text-align: center;
  }
  span {
    display: block;
    margin-top: 40px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 112.5% */
  }
}
.number-item {
  &:nth-of-type(1) b {
    color: var(--1c, #62B6F3);
    font-size: 194.289px;
    font-style: normal;
    font-weight: 400;
    line-height: 131.99px; /* 67.935% */
    letter-spacing: -4.5px;
  }
  &:nth-of-type(2) b {
    color: var(--1c, #3170a4);
    font-size: 110.273px;
    font-style: normal;
    font-weight: 400;
    line-height: 166px; /* 150.535% */
    letter-spacing: -4.5px;
  }
  &:nth-of-type(3) b {
    color: var(--1c, #3170a4);
    font-size: 218px;
    font-style: normal;
    font-weight: 400;
    line-height: 166px; /* 76.147% */
  }
  &:nth-of-type(4) b {
    color: var(--1c, #3170a4);
    font-size: 120.056px;
    font-style: normal;
    font-weight: 400;
    line-height: 147px; /* 122.443% */
    letter-spacing: -4.5px;
  }
}
.number-item {
  &:nth-of-type(1) {
    margin: 0 auto;
  }
  &:nth-of-type(2) {
    margin-top: -40px;
  }
  &:nth-of-type(3) {
    margin: -365px 0 0 auto;
  }
  &:nth-of-type(4) {
    margin: 0 0 0 40%;
  }
}


.startups {
  background: var(--openai-com-nero, #FFF);
  .section-title {
    padding-left: 35px;
  }
}
.startups-content {
  padding: 70px 0;
}
.startups-list {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}
.startup-item {
  display: flex;
  padding: 22px 38px 22px 22px;
  flex-direction: column;
  background: var(--1a, #002B55);
  position: relative;
  height: 538px;
  h6 {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 37.5px */
    letter-spacing: -0.4px;
    text-transform: uppercase;
    padding-right: 90px;
    overflow-wrap: break-word;
  }
  img {
    position: absolute;
    top: 22px;
    right: 38px;
    flex-shrink: 0;
  }
  p {
    color: #FFF;
    font-size: 25.8px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 30.96px */
    letter-spacing: -0.4px;
    margin-top: auto;
  }
}


.team-content {
  padding: 70px 0 110px;
  h2 {
    color: #FFF;
    font-size: 72px;
    font-style: normal;
    font-weight: 300;
    line-height: 73px; /* 101.389% */
    letter-spacing: -1.5px;
    padding-left: 20px;
  }
}
.team-list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}
.team-item {
  &:nth-child(even) {
    margin-top: 40px;
  }
  img {
    height: 360px;
    flex-shrink: 0;
    object-fit: cover;
  }
  strong {
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 100% */
    display: block;
    margin-top: 32px;
  }
  p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 140% */
    margin-top: 16px;
  }
}


.angels {
  position: relative;
}
.angels-bg {
  position: relative;
}
.angels-bg img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.angels-bg.scroll-block img {
  transform: scale(1.1);
  transition: 1s ease;
}
.angels-bg.scroll-block.middle-screen img {
  transform: scale(1);
}
.angels-bg-img-sm {
  display: none;
}
.angels-bg-text {
  position: absolute;
  top: 47%;
  left: 0;
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
  }
  p {
    color: #FFF;
    text-shadow: 0 4px 7.6px rgba(0, 0, 0, 0.50);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 100% */
  }
}
.angels-content {
  padding: 30px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  .container {
    display: flex;
  }
}
.angels-caption {
  display: flex;
  flex-direction: column;
}
.angels-list {
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
}
.angels-item b {
  display: block;
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 112.5% */
}
.angels-item p {
  margin-top: 17px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}
.angels-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 46px;
  p {
    color: #62B6F3;
    font-size: 36px;
    font-style: normal;
    font-weight: 100;
    line-height: 41px; /* 113.889% */
  }
  b {
    font-weight: 700;
  }
}


.community-content {
  padding: 120px 0;
  display: flex;
  gap: 60px;
}
.community-caption {
  padding: 80px 0 70px;
  width: 540px;
}
.community-title {
  margin-top: 32px;
  h2 {
    color: var(--openai-com-nero, #FFF);
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 75px; /* 117.188% */
    letter-spacing: 1.08px;
  }
  p {
    color: var(--openai-com-nero, #FFF);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px; /* 150% */
    margin-top: 32px;
  }
}
.community-caption .btn {
  margin-top: 60px;
  width: 100%;
}
.community-media {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.community-media-item {
  img {
    width: 100%;
    height: 588px;
    object-fit: cover;
    flex-shrink: 0;
  }
  p {
    margin-top: 16px;
    color: #FFF;
    text-align: center;
    font-size: 12.898px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 124.046% */
    letter-spacing: -0.39px;
  }
  &:first-child {
    margin-top: 64px;
  }
}


.stories {
  padding: 62px 0 44px;
}
.stories-slider-pagination {
  position: static;
  margin-top: 40px;
  text-align: right;
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.20);
    margin: 0 12px!important;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background: #FFF;
  }
}
.stories-slider-wrap {
  margin-top: 68px;
  padding-bottom: 17px;
  border-bottom: 2px solid #62B6F3;
  display: flex;
  align-items: center;
}
.stories-slider-next {
  margin: 0 auto;
}
.stories-slider {
  width: calc(100% - 110px);
  margin-left: 0;
}
.stories-card {
  width: 600px;
}
.stories-media {
  position: relative;
  width: 100%;
  height: 420px;
  overflow: hidden;
}
.stories-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}
.stories-media:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(98, 182, 243, 0.15);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 1;
}
.stories-card:hover {
  .stories-img {
    transform: scale(1.07);
  }
  .stories-media:before {
    opacity: 1;
    visibility: visible;
  }
}
.stories-card a {
  z-index: 2;
}
.stories-info {
  position: absolute;
  top: 26px;
  left: 30px;
  small {
    display: block;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.6px; /* 178.75% */
  }
  span {
    display: block;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.6px; /* 119.167% */
  }
}
.stories-title {
  position: absolute;
  left: 30px;
  bottom: 27px;
  color: #FFF;
  font-size: 66px;
  font-style: normal;
  font-weight: 400;
  line-height: 66px; /* 100% */
  width: calc(100% - 60px);
}
.dark-text {
  .stories-info small, .stories-info span, .stories-title {
    color: #121212;
  }
}
.stories-caption {
  margin-top: 15px;
  small {
    display: block;
    color: var(--1c, #62B6F3);
    font-size: 12.219px;
    font-style: normal;
    font-weight: 400;
    line-height: 14.91px; /* 122.026% */
    letter-spacing: -0.017px;
  }
  p {
    margin-top: 7px;
    color: #FFF;
    font-size: 23.813px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.49px; /* 128.042% */
    letter-spacing: -0.017px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  a {
    margin-top: 19px;
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.26px; /* 101.625% */
    letter-spacing: -0.271px;
    position: relative;
  }
  a:after {
    content: url("../img/icon/arrow-right.svg");
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 14px;
    margin-left: 25px;
  }
}


.pre-footer {
  background: url("../img/main/idea.png") no-repeat center/cover;
}
.scroll-block {
  transform: scale(1.1);
  transition: 1s ease;
}
.scroll-block.middle-screen {
  transform: scale(1);
}
.pre-footer-content {
  padding: 58px 0 513px;
}
.pre-footer-caption {
  margin-top: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    color: #EDEDED;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 72px; /* 112.5% */
  }
  b {
    font-weight: 700;
  }
}
//main page end


//about page
.about-poster {
  background: url("../img/main/about-poster.png") no-repeat center/cover;
}
.about-poster-content {
  padding: 38px 0 28px;
  display: flex;
}
.poster-right {
  display: flex;
  flex-direction: column;
}
.about-poster-subtitle {
  color: #62B6F3;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 150% */
  letter-spacing: -0.2px;
  position: relative;
  z-index: 1;
}
.about-poster-title {
  margin-top: 20px;
  color: #FFF;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: 96px; /* 100% */
  position: relative;
  z-index: 1;
}
.about-poster-text {
  margin-top: 90px;
  color: #EDEDED;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 41px; /* 113.889% */
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
}
.poster-right .scroll-bottom-btn {
  margin-top: auto;
  position: relative;
  z-index: 1;
}


.snapshot {
  padding: 62px 0 87px;
}
.snapshot-content {
  display: flex;
}
.snapshot-left {
  width: 43%;
  span {
    display: block;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 150% */
    letter-spacing: -0.2px;
  }
  p {
    color: #62B6F3;
    font-size: 69.873px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px; /* 107.338% */
  }
}
.snapshot-right {
  width: calc(57% - 29px);
  margin-left: auto;
  padding-top: 33px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  p {
    color: var(--safe-haven-net-nero, #FFF);
    font-size: 24.245px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.13px; /* 140.769% */
  }
}


.beginning {
  padding-top: 84px;
  background: #141414;
}
.about-title {
  color: var(--safe-haven-net-nero, #FFF);
  font-size: 67.969px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px; /* 110.345% */
}
hr {
  width: 100%;
  height: 1px;
  opacity: 1;
  border-top: 1px solid #fff;
  &.margin-md {
    margin: 31px 0;
  }
  &.margin-sm {
    margin: 19px 0;
  }
}
.beginning-primary {
  color: var(--safe-haven-net-nero, #FFF);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px; /* 134.375% */
}
.beginning-secondary {
  padding-left: calc(43% + 29px);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 90px;
}
.beginning-secondary-item {
  b {
    display: block;
    color: var(--safe-haven-net-nero, #FFF);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px; /* 100% */
  }
  p {
    color: var(--safe-haven-net-nero, #FFF);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-top: 24px;
  }
}


.investing {
  padding: 153px 0 128px;
  background: #141414;
}
.investing-desc {
  margin-top: 40px;
  padding-right: 100px;
  position: relative;
  color: var(--safe-haven-net-nero, #FFF);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px; /* 134.375% */
  &:after {
    content: '';
    background: url("../img/main/logo-light-blue.svg") no-repeat center/contain;
    position: absolute;
    top: 0;
    right: 0;
    width: 78px;
    height: 86px;
  }
}
.investing-steps {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 86px;
}
.investing-step-number {
  display: block;
  color: #FFF;
  font-size: 30.516px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 117.972% */
}
.investing-step-caption {
  display: flex;
  justify-content: space-between;
}
.investing-step-title {
  width: 43%;
  color: #FFF;
  font-size: 42.715px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; /* 105.35% */
  padding-right: 125px;
}
.investing-step-desc {
  width: calc(57% - 29px);
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 145.833% */
}


.charity {
  padding: 114px 0 167px;
}
.charity-content {
  display: flex;
  justify-content: space-between;
}
.charity-left {
  width: 43%;
}
.charity-right {
  width: calc(57% - 29px);
}
.charity-desc {
  color: var(--safe-haven-net-nero, #FFF);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px; /* 134.375% */
  margin-bottom: 167px;
}
.charity-item {
  b {
    display: block;
    color: #FFF;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 114.286% */
  }
  p {
    margin-top: 53px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 116.667% */
  }
}
.charity-item + .charity-item {
  margin-top: 133px;
}
//about page end


//portfolio page
.portfolio-poster {
  background: url("../img/main/portfolio.png") no-repeat center/cover;
}
.portfolio-poster-content {
  padding: 120px 0 60px;
  width: 100%;
  position: relative;
}
.portfolio-poster-title {
  color: #FFF;
  text-align: center;
  font-size: 140px;
  font-style: normal;
  font-weight: 300;
  line-height: 147px; /* 105% */
  letter-spacing: -1.5px;
}
.portfolio-poster-desc {
  margin-top: 60px;
  color: #FFF;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.98px; /* 123% */
  letter-spacing: 0.4px;
}

.portfolio-numbers {
  margin-top: -200px;
}
.portfolio-numbers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.portfolio-number {
  padding: 21px 16px 24px 27px;
  height: 360px;
  background: #00162B;
  display: flex;
  flex-direction: column;
  position: relative;
  &-primary {
    position: absolute;
    top: 21px;
    right: 16px;
  }
  &-primary p {
    color: #FFF;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 96px; /* 100% */
    letter-spacing: -6.72px;
  }
  &-primary small {
    display: block;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 225% */
    position: relative;
    top: -15px;
    left: 20px;
  }
  &-secondary {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 112.5% */
  }
  &-desc {
    margin-top: auto;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; /* 122.727% */
    letter-spacing: -0.2px;
  }
}

.portfolio {
  padding: 80px 0 90px;
}
.portfolio-tools {
  padding: 10px 0 30px;
  display: flex;
  justify-content: space-between;
}
.portfolio-tools-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  span {
    display: block;
    color: rgba(255,255,255,0.4);
    font-size: 16.602px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .nav-tabs {
    border-bottom: none;
    gap: 40px;
  }
  .nav-link {
    color: #FFF;
    font-size: 16.6px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0;
    border: none;
  }
  .nav-link.active {
    color: #FFF;
    background: none;
    font-weight: 700;
    text-decoration-line: underline;
  }
  .nav-link:hover, .nav-link:focus, .nav-link:focus-visible {
    border: none;
    outline: none;
    box-shadow: none;
  }
}
.portfolio-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.portfolio-item {
  height: 274px;
  overflow: hidden;
  position: relative;
  background: #62B6F3;
  transition: 0.2s ease;
  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    transition: 0.2s ease;
  }
  &-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.portfolio-item:hover {
  background: var(--1a, #002B55);
  .portfolio-item-img {
    transform: scale(1.02);
  }
}


.portfolio-pre-footer {
  background: url('../img/main/jeep.png') no-repeat center/cover;
}
//portfolio page end


//angels club
.angel-poster {
  display: block;
  padding-top: 0;
  overflow: hidden;
}
.angel-poster-bg {
  position: relative;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.angel-poster-bg-sm {
  display: none;
}
.angel-poster-bg-text {
  position: absolute;
  top: 47%;
  left: 0;
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
  }
  p {
    color: #FFF;
    text-shadow: 0 4px 7.6px rgba(0, 0, 0, 0.50);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 100% */
  }
}
.angel-poster-caption {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  .container {
    height: 100%;
    padding: 108px 0 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.angel-poster-title {
  color: #FFF;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: 96px; /* 100% */
}


.collective-investment-content {
  padding: 46px 0 0;
  display: flex;
  align-items: center;
}
.collective-investment-title {
  width: 827px;
  flex-shrink: 0;
  color: #FFF;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 73px; /* 101.389% */
  letter-spacing: -1.5px;
  span {
    color: #62B6F3;
    font-weight: 700;
  }
}
.collective-investment-img {
  width: calc(100% - 827px);
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.mission {
  padding: 120px 0 0;
}
.mission-content b {
  color: #62B6F3;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44.8px; /* 140% */
  letter-spacing: -0.4px;
  display: block;
}
.mission-content p {
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 49px; /* 122.5% */
  max-width: 1034px;
  margin: 38px auto 0;
}


.join {
  padding: 160px 0 0;
}
.join-content {
  padding-left: 41%;
}
.join-title {
  color: #FFF;
  font-size: 68.115px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px; /* 110.108% */
  span {
    font-weight: 700;
    color: #62B6F3;
  }
}
.join-list {
  margin-top: 51px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.join-item {
  padding: 20px 0 50px;
  border-top: 1px solid #62B6F3;
  display: flex;
}
.join-item-left {
  width: 34%;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
}
.join-item-right {
  width: 66%;
  color: #FFF;
  font-size: 16.453px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 139.791% */
}
.criterias {
  padding: 130px 0 100px;
}
.criterias-title {
  color: #FFF;
  font-size: 24.996px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 108.017% */
}
.criterias-list {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
}
.criterion {
  border-top: 1px solid #62B6F3;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.criterion:last-child {
  border-bottom: 1px solid #62B6F3;
}
.criterion-left {
  color: #FFF;
  font-size: 52.313px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px; /* 103.226% */
}
.criterion-right {
  color: #FFF;
  text-align: right;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px; /* 100% */
}


.selecting-members {
  padding: 70px 0;
  background: var(--openai-com-nero, #FFF);
}
.selecting-members-title {
  color: var(--1a, #002B55);
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 67.2px; /* 105% */
  letter-spacing: -1.5px;
}
.selecting-members-list {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px 35px;
}
.selecting-members-item {
  padding: 22px 35px 22px 22px;
  background: var(--1a, #002B55);
  display: flex;
  flex-direction: column;
  min-height: 538px;
  position: relative;
  h5 {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 37.658px; /* 125.527% */
    letter-spacing: -0.4px;
    text-transform: uppercase;
    width: calc(100% - 75px);
  }
  span {
    position: absolute;
    padding: 13px 10px;
    display: block;
    top: 22px;
    right: 32px;
    color: var(--1c, #62B6F3);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 100% */
  }
  p {
    margin-top: auto;
    color: #FFF;
    font-size: 25.8px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 30.96px */
    letter-spacing: -0.4px;
  }
}


.club-members {
  padding: 66px 0 50px;
}
.club-members-title {
  color: #FFF;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 73px; /* 101.389% */
  letter-spacing: -1.5px;
}
.club-members-slider-wrapper {
  display: flex;
  margin-top: 50px;
}
.club-members-slide-media {
  position: relative;
  height: 0;
  padding-top: 123%;
}
.club-members-slide-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.club-members-slide-caption {
  margin-top: 20px;
  b {
    display: block;
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 120% */
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  p {
    margin-top: 6px;
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.club-members-slider-next {
  width: 90px;
  flex-shrink: 0;
  height: 0;
  padding-top: 47%;
  background: var(--1c, #62B6F3);
  border: none;
  position: relative;
  i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}


.angel-pre-footer {
  position: relative;
}
.angel-pre-footer-bg img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.angel-pre-footer-bg-sm {
  display: none;
}
.angel-pre-footer-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 31px;
  .container {
    display: flex;
    height: 100%;
  }
}
.angel-pre-footer-caption {
  position: absolute;
  width: 100%;
  left: 0;
  top: 44%;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  p {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 200;
    line-height: 41px; /* 113.889% */
  }
  b {
    font-weight: 700;
  }
}
//angels club end


//community
.community-poster {
  background: url('../img/main/community-bg.png') no-repeat center / cover;
  position: relative;
  padding-bottom: 54px;
}
.community-poster-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
.community-poster-title {
  position: absolute;
  left: 0;
  top: calc(50% - 130px);
  color: #EDEDED;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 69.12px; /* 108% */
  span {
    color: #62B6F3;
    font-style: italic;
    font-weight: 400;
  }
}
.community-poster-after {
  width: 535px;
  height: 589px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.events {
  padding: 64px 0;
}
.events-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.events-sorting .dropdown-toggle {
  background: transparent;
  border: none;
  color: #FFF;
  font-size: 17.297px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 135.285% */
  display: flex;
  align-items: center;
}
.events-sorting .dropdown-toggle:after {
  margin-left: 8px;
  vertical-align: initial;
  border: none;
  background: url("../img/icon/filter.svg") no-repeat center/contain;
  width: 19px;
  height: 19px;
}
.events-plus-btn {
  background: transparent;
  border: none;
}
.events-list {
  margin-top: 84px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 68px 24px;
}
.event-card {
  position: relative;
}
.event-card-date {
  display: block;
  color: #668099;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
}
.event-card-img {
  height: 330px;
  width: 100%;
  margin: 8px 0;
  position: relative;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.3s ease;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(98, 182, 243, .15);
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    z-index: 1;
  }
}
.event-card:hover {
  .event-card-img img {
    transform: scale(1.03);
  }
  .event-card-img:before {
    opacity: 1;
    visibility: visible;
  }
}
.event-card a {
  z-index: 1;
}
.event-card-title {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.events-bottom {
  margin-top: 72px;
  border-top: 1px solid #FFF;
  display: flex;
  padding-top: 9px;
}
.events-count {
  color: #FFF;
  font-size: 17.156px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 136.393% */
}
.events-next-page {
  position: relative;
  margin-left: 140px;
  color: #FFF;
  text-align: center;
  font-size: 17.719px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 132.063% */
  text-decoration-line: underline;
  padding-right: 24px;
  &:after {
    content: '';
    background: url("../img/icon/arrow-right.svg") no-repeat center/contain;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  &:hover {
    text-decoration-line: underline;
  }
}
.events-pagination {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 136.393% */
  span {
    text-decoration-line: underline;
  }
}
.pagination-dropdown {
  margin-left: 6px;
}
.pagination-dropdown .dropdown-toggle {
  background: transparent;
  border: none;
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 136.393% */
  display: flex;
  align-items: center;
  &:after {
    margin-left: 0;
    vertical-align: initial;
    border: none;
    background: url("../img/icon/chevron-down.svg") no-repeat center/contain;
    width: 19px;
    height: 19px;
  }
}

.community-pre-footer {
  background: url("../img/main/community-bg.png") no-repeat center/cover;
}
//community end


@import "media";